@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

//VARIABLES
$primary-dark: #0B0D17;
$primary-gray: #D0D6F9;

$font-bellefair: 'Bellefair', serif;
$font-barlow: 'Barlow Condensed', sans-serif;
$white: #ffffff;

$heading-1-size: 150px;
$heading-2-size: 100px;
$heading-3-size: 56px;
$heading-4-size: 32px;
$heading-5-size: 28px;
$pararagh-size: 1.125rem;

$generalpadding: 6.8% 3.5% 1%;
$mobile-general-padding: 5% 3.4% 1.5%;

$number-opacity: .25;
$underline: 1px solid #383B4B;

//MIXINS
@mixin general-padding {
    padding: $generalpadding;

    @media screen and (max-width: 900px) {
        padding: $mobile-general-padding;
    }
}

@mixin flex ($justify, $align, $gap, $direction: row, $query: 800px) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction;

    @media screen and (max-width: $query) {
        @if ($justify == 'space-around' or $justify == 'center' or $justify == 'auto') {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@mixin grid ($gap: 6.5rem, $width: 446px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
    gap: 2rem;
    place-items: center;

    @media screen and (max-width: 980px) {
        padding: $mobile-general-padding; 
        grid-template-columns: 1fr;
        //text-align: center; 
    }
}

@mixin heading($font-size, $font-family: $font-barlow, $font-weight) {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
}

@mixin link-hover( $color, $border-width) {
    transition: all ease-in .3s;
    border-bottom: $border-width solid $color;
}

// @mixin glass{
//     background: rgba(208, 214, 249, 0.31);
//     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//     backdrop-filter: blur(5.1px);
//     -webkit-backdrop-filter: blur(5.1px);
//     border: 1px solid rgba(208, 214, 249, 0.16);
// }

@mixin page-number{
    display: flex;

    &_number{
        @include heading(1.75rem, $font-barlow, 400);
        margin: 0 1rem;
        opacity: $number-opacity;
    }

    @media screen and (max-width:450px) {
        h5, &_number{
            font-size: 1.3rem;
        }
    }
}

@mixin background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $primary-dark;
    background-attachment: fixed;
}

//EXTENSIONS 

.glass{
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
}

// UTILITIES.

h1{
    @include heading(9.4rem, $font-bellefair, 400);
    color: $white;

    @media screen and (max-width:768px) {
        font-size: 80px;
    }
}

h2{
    @include heading($heading-2-size, $font-bellefair, 400);

    @media screen and (max-width:768px) {
        font-size: 50px;
    }
}

h3{
    @include heading($heading-3-size, $font-bellefair, 400);

    @media screen and (max-width: 600px) {
        font-size: 2.4rem;
        text-align: center;
        width: 100%;
    }
}

h4{
    @include heading(2rem, $font-bellefair, 400);
    @media screen and (max-width: 600px) {
        font-size: 1.3rem;
    }
}

h5{
    @include heading(1.75rem, $font-barlow, 400);
    color: $primary-gray;
    letter-spacing: 4.725px
}

h6{
    @include heading(1rem,  $font-barlow, 400);
    color: $primary-gray;    
}

p{
    font-family: $font-barlow;
    font-size: 1.125rem;
    line-height: 2rem;
    color: $primary-gray;

    @media screen and (max-width: 400px) {
        text-align: center;
    }
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button{
    cursor: pointer;
    border: 0;
    margin: 1rem;
}

.active a, button.active{
    @include link-hover($white, 2.9px);
}

a, .number, .destination-btn{
    color: $primary-gray;
    font-family: $font-barlow;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 1.2rem 0rem;
}

.number{
    margin: 0 .4rem;
    color: $white;
    font-weight: 700;
}

// ----------------------------------------- //

.container{
    min-height: 100vh;
    width: clamp(266px, 100%, 100vw);
    color: $primary-gray;
    padding-bottom: 3rem;
    @include background();
}

.home{
    background-image: url("./Pages/HOME/background-image.jpg");
}

.navbar{
    @include flex(space-between, center, auto);
    padding: 1.9rem 0 1.4rem 1.4rem;

    .logo{
        background-color: $white;
        height: 48px;
        width: 48px;
        border-radius: 50%;
         
        &:hover{
            text-decoration: none;
            border: 0;
        }
    }

    .line{
        width: clamp(200px, 56%, 240px);
        margin: -.6rem -6rem 0 0;
        z-index: 12;
        @media screen and (max-width: 800px) {
            display: none;
        }
    }

    .open{
        background: transparent;
        @include flex(center, center, .2rem);
        flex-direction: column;
        position: absolute;
        right: 1.5rem;
        top: 3rem;
        z-index: 40;

        @media screen and (min-width: 550px) {
            display: none;
        }

        .hamburger-menu{
            cursor: pointer;
        }

        input[type=checkbox]{
            cursor: pointer;
            display: none;
        }

        .bars{
            display: flex;
            flex-direction: column;
            gap: .3rem;

            &__icon-bar{
                width: 22px;
                height: 2px;
                background-color: $primary-gray;
                transition: all ease-in 0.3s;
            }

            .top{
                transform: rotate(0);
            }

            .middle{
                opacity: 1;
            }

            .bottom{
                transform: rotate(0);
            }
        }

        input[type=checkbox]:checked{
            + label{
                .top{
                    transform: rotate(45deg);
                    transform-origin: 10% 140%;
                }

                .middle{
                    opacity: 0;
                }

                .bottom{
                    transform: rotate(-45deg);
                    transform-origin: 10% 0%;
                    transition: all ease-in 0.3s;
                }
            }
        }
    }

    .nav{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        height: 4rem;
        padding: 0 3.4rem;
        border-radius: 5px 0 0 5px;
        @extend .glass;

        a:hover{
            @include link-hover($primary-gray, 2px);
        }

        @media screen and (max-width:860px) {
            padding: 0 1.3rem;
            gap: 1.2rem;
        }

        @media screen and (max-width: 550px) {
            position: fixed;
            top: 0rem;
            bottom: 0;
            right: 0;
            z-index: 30;
            @extend .glass;
            width: 65%;
            height: 100vh;
            @include flex(flex-start, flex-start, 3.5rem);
            flex-direction: column;
            padding: 4.7rem 2.3rem;
            transition: all ease-in 0.4s;
        }
    }
}

@media screen and (max-width: 550px) {
    .hide{
        transform: translateX(500px);
    }
}

.hero-section{
    padding: $generalpadding;
    @include grid();
    text-align: justify;

    @media screen and (max-width:  1024px) {
        text-align: center;
    }

    .hero-text{
        width: 86%;
    }

    .explore-circle{
        $size: clamp(200px, 15rem, 40vw);
        background-color: $white;
        height: $size;
        width: $size;
        border-radius: 100%;
        color: $primary-dark;
        cursor: pointer;
        @include flex(center, center, 0rem);
        position: relative;
        transition: all ease-in 0.5s;

        @media screen and (max-width:990px) {
            margin: 2rem 0 0;
        }        

        &:hover{
            box-shadow: 0 0 0 3rem #383B4B;
        }
    }
}

// ----------------- DESTINATIONS PAGE ---------------

.dark-bg{
    background-color: $primary-dark;
}

.destination{
    @include general-padding();
    margin: 2.2rem 0 0;
    @include flex(space-around, center, .2rem, $query: 920px);
    
    @media screen and (max-width: 920px) {
        gap: 2rem;
    }

    .image{
        @include flex(space-between, center, 3rem, column);
        align-self: flex-start;

        @media screen and (max-width: 920px) {
            align-self: center;
        }
        
        &_header{
            @include page-number();
        }

        &_image{
            width: clamp(270px, 67%, 400px);

            img{
                width: 95%;
                aspect-ratio: 10/9;
            }
        }
    }

    &_text{
        width: 100%;
        margin: 3rem 4rem 0;
        @include flex(auto, auto, 1.25rem, column);

        @media screen and (max-width: 920px) {
            width: 80%;
            text-align: center;
        }
    }

    &-btn{
        background: transparent;
        padding:  .4rem 0;

        &:hover{
            @include link-hover($primary-gray, 2px);
        }
    }

    &-details{
        padding: 1rem 0 2rem;
        border-bottom: $underline;
    }

    &-subheadings{
        @include flex(auto, auto, 3.2rem);

        @media screen and (max-width:900px) {
            justify-content: center;
        }

        h5{
            margin: .9rem 0 0;
            font-family: $font-bellefair;
        }
    }
}

// ----------------- CREW PAGE ---------------
.crew{
    background-image: url("./Pages/CREW/crew-bg.png");
    

    &-member{
        @include general-padding();
        @include flex(center, center, 4rem, column);

        &_header{
            @include page-number();
            align-self: flex-start;
        }

        &_description{
            @include grid(3rem);
            

            &_text{
                @include flex(center, flex-start, 1rem, column);
                text-align: justify;
                h3, h4{
                    text-transform: uppercase;
                }
                
                @media screen and (max-width:950px) {
                    align-items: center;
                    text-align: center;
                }

                p{
                    margin: 0 0 3rem;
                }
            }

            &_image{
                padding: 1rem 0 3.5rem;
                width: 70%;
                margin-top: -1rem;

                img{
                    width: clamp(222px, 25%, 300px);
                    aspect-ratio: 14/16;
                }

                @media screen and (max-width: 768px) {
                    order: -1;
                    width: 100%;

                    img{
                        aspect-ratio: 1;
                        border-bottom: $underline;
                    }
                }
            }
        }
    }
}

.carousel{

    &-root{
        width: 100%;
    }

    &-status{
        display: none;
    }

    img{
        border-bottom: $underline;
    }
}

// ====================== TECHNOLOGY PAGE =============
.technology{
    background-image: url("./Pages/TECHNOLOGY/Technology-page-bg.png");
    background-color: $primary-dark;

    &-info{
        $major-breakpoint: 920px;
        padding: 2rem 0;

        @include flex(space-around, auto, 4rem, column);

        &_header{
            @include page-number();
        }

        &_devices{
            @include flex(space-between, center, 2rem );
            
            @media screen and (max-width: $major-breakpoint) {
                flex-direction: column;
                gap: 3.45rem;
            }

            &_number{

                padding: 0 0 0 3rem;
                @include flex(space-between, flex-start, 1.5rem, column);

                @media screen and (max-width: $major-breakpoint) {
                    flex-direction: row;
                    order: 2;
                    padding: 1rem 2rem;
                }

                &>div.circle{
                    $primary-grey: #383B4B;
                    $size: 4rem;
                    background: transparent;
                    width: $size;
                    height: $size;
                    border-radius: 50%;
                    border: 1px solid $primary-grey;
                    cursor: pointer;
                    text-align: center;
                    color: $white;
                    @include flex(center, center, auto);
                    transition: all ease-in 0.4s;

                    &:hover{
                        border: 1px solid $white;
                        background: transparent;
                    }

                    &.circle-active{
                        background-color: #ffffff;
                        color: #383B4B;
                    }
                }
            }

            &_description{
                width: clamp(270px, 40%, 700px);
                @include flex(space-between, flex-start, 1rem, column);

                @media screen and (max-width: $major-breakpoint) {
                    width: 100%;
                    align-items: center;
                    text-align: center;
                    order: 3;
                    padding: 2rem;
                }
            }

            &_image{
                width: 30%;
                img{
                    width: 100%;
                }

                @media screen and (max-width: $major-breakpoint) {
                    order: 1;
                    width: 100%;
                    
                    img{
                        height: 310px;
                    }
                }
            }
        }

    }
}





