@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

//VARIABLES
$primary-dark: #0B0D17;
$primary-gray: #D0D6F9;

$font-bellefair: 'Bellefair', serif;
$font-barlow: 'Barlow Condensed', sans-serif;
$white: #ffffff;

$heading-1-size: 150px;
$heading-2-size: 100px;
$heading-3-size: 58px;
$heading-4-size: 32px;
$heading-5-size: 28px;
$pararagh-size: 1.125rem;

$generalpadding: 8% 2.5% 1%;
$mobile-general-padding: 5% 1% 3%;

$number-opacity: .25;
$underline: 1px solid #383B4B;

//MIXINS
@mixin flex ($justify, $align, $gap, $direction: row, $query: 800px) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction;

    @media screen and (max-width: $query) {
        @if ($justify == 'space-around' or $justify == 'center' or $justify == 'auto') {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@mixin grid ($width: 440px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
    gap: 6.5rem;
    place-items: center;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        padding: $mobile-general-padding;    
    }
}

@mixin heading($font-size, $font-family: $font-barlow, $font-weight) {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
}

@mixin link-hover( $color, $border-width) {
    transition: all ease-in .3s;
    border-bottom: $border-width solid $color;
}

@mixin glass{
    background: rgba(208, 214, 249, 0.31);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(208, 214, 249, 0.16);
}

@mixin page-number{
    display: flex;

    &_number{
        @include heading(1.75rem, $font-barlow, 400);
        margin: 0 1rem;
        opacity: $number-opacity;
    }
}

// UTILITIES.

h1{
    @include heading(9.4rem, $font-bellefair, 400);
    color: $white;

    @media screen and (max-width:768px) {
        font-size: 80px;
    }
}

h2{
    @include heading($heading-2-size, $font-bellefair, 400);

    @media screen and (max-width:768px) {
        font-size: 50px;
    }
}

h4{
    @include heading(2rem, $font-bellefair, 400);
}

h5{
    @include heading(1.75rem, $font-barlow, 400);
    color: $primary-gray;
}

h6{
    @include heading(1rem,  $font-barlow, 400);
    color: $primary-gray;    
}

p{
    font-family: $font-barlow;
    font-size: 1.125rem;
    line-height: 2rem;
    color: $primary-gray;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button{
    cursor: pointer;
    border: 0;
    margin: 1rem;
}

.active a, button.active{
    @include link-hover($white, 2.9px);
}

a, .number, .destination-btn{
    color: $primary-gray;
    font-family: $font-barlow;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 1.2rem 0rem;
}

.number{
    margin: 0 .4rem;
    color: $white;
    font-weight: 700;
}

// ----------------------------------------- //

.container{
    min-height: 100vh;
    width: min(100vw, 100%);
    color: $primary-gray;
    padding-bottom: 4rem;
}

.home{
    background-image: url("./Pages/Components/background-image.jpg");
}

.navbar{
    @include flex(space-between, center, auto);
    padding: 1.9rem 0 1.4rem 1.4rem;

    .logo{
        background-color: $white;
        height: 48px;
        width: 48px;
        border-radius: 50%;
         
        &:hover{
            text-decoration: none;
            border: 0;
        }
    }

    .line{
        width: clamp(200px, 56%, 240px);
        margin: -.6rem -6rem 0 0;
        z-index: 12;
        @media screen and (max-width: 800px) {
            display: none;
        }
    }

    .open{
        background: transparent;
        @include flex(center, center, .2rem);
        flex-direction: column;
        position: absolute;
        right: 1.5rem;
        top: 3rem;
        z-index: 30;

        @media screen and (min-width: 550px) {
            display: none;
        }

        .hamburger-menu{
            cursor: pointer;
        }

        input[type=checkbox]{
            cursor: pointer;
            display: none;
        }

        .bars{
            display: flex;
            flex-direction: column;
            gap: .3rem;

            &__icon-bar{
                width: 22px;
                height: 2px;
                background-color: $primary-gray;
                transition: all ease-in 0.3s;
            }

            .top{
                transform: rotate(0);
            }

            .middle{
                opacity: 1;
            }

            .bottom{
                transform: rotate(0);
            }
        }

        input[type=checkbox]:checked{
            + label{
                .top{
                    transform: rotate(45deg);
                    transform-origin: 10% 140%;
                }

                .middle{
                    opacity: 0;
                }

                .bottom{
                    transform: rotate(-45deg);
                    transform-origin: 10% 0%;
                    transition: all ease-in 0.3s;
                }
            }
        }
    }

    .nav{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        height: 4rem;
        padding: 0 3.4rem;
        border-radius: 5px 0 0 5px;
        @include glass;

        a:hover{
            @include link-hover($primary-gray, 2px);
        }

        @media screen and (max-width:860px) {
            padding: 0 1.3rem;
            gap: 1.2rem;
        }

        @media screen and (max-width: 550px) {
            position: fixed;
            top: 0rem;
            bottom: 0;
            right: 0;
            @include glass();
            width: 65%;
            height: 100vh;
            @include flex(flex-start, flex-start, 3.5rem);
            flex-direction: column;
            padding: 4.7rem 2.3rem;
            transition: all ease-in 0.4s;
        }
    }
}

@media screen and (max-width: 550px) {
    .hide{
        transform: translateX(500px);
    }
}

.hero-section{
    padding: $generalpadding;
    @include grid();
    text-align: justify;

    @media screen and (max-width:  1024px) {
        text-align: center;
    }

    .hero-text{
        width: 75%;
    }

    .explore-circle{
        $size: clamp(200px, 17rem, 40vw);
        background-color: $white;
        height: $size;
        width: $size;
        border-radius: 50%;
        color: $primary-dark;
        cursor: pointer;
        @include flex(center, center, 0rem);
    }
}

// ----------------- DESTINATIONS PAGE ---------------

.dark-bg{
    background-color: $primary-dark;
}

.destination{
    margin: 2.2rem 0 0;
    @include flex(space-around, center, 2rem, $query: 920px);
    //@include grid();

    .image{
        display: grid;
        align-self: flex-start;

        @media screen and (max-width: 920px) {
            align-self: center;
        }
        
        &_header{
            @include page-number();
        }
    }

    &_text{
        width: 40%;
        margin: 3rem 0 0;
        @include flex(auto, auto, 1.7rem, column);

        @media screen and (max-width: 920px) {
            width: 80%;
            text-align: center;
        }
    }

    &-btn{
        background: transparent;
        padding:  .4rem 0;

        &:hover{
            @include link-hover($primary-gray, 2px);
        }
    }

    &-details{
        padding: 1rem 0 2rem;
        border-bottom: $underline;
    }

    &-subheadings{
        @include flex(auto, auto, 4.2rem);

        h5{
            margin: .9rem 0 0;
            font-family: $font-bellefair;
        }
    }
}


